//公用hui 样式    by lz on 20190307
@import './variables.scss';

// 正常内容区域
.hui-container {
  box-sizing: border-box;
  width: 1320px;
  margin: 0 auto;
}
// 内容描述区域
.hui-des-color{
  color: #999999
}

// 通用按钮
.hui-btn{
  color: #FFF;
  background-color: #DC3023;
  border: 1px solid #DC3023;
}

// 表格内小文字
.hui-text-btn{
  color:#DC3023;
  font-size:14px;
  line-height:18px;
  cursor: pointer;
  &:not(:last-child){
    margin-right: 30px;
  }
}