// 需要修改的elementUI自带样式    by lz on 20190307
// el-input 输入框颜色、宽度、聚焦时边框颜色
.register-wrap ::v-deep input {
    height: 48px !important;
    border: 1px solid #DDD !important;
    color: #666 !important;
}

.el-radio.is-checked {
    .el-radio__inner {
        border-color: #E4203A;
        background: #E4203A;
    }

    .el-radio__label {
        color: #E4203A;
    }
}
// 分页默认统一居中
.el-pagination{
    text-align:center
  }
// 统一修改 btn 风格样式
.el-button{
    font-size:16px;
    padding: 0;
    color: #FFF;
    background-color: #DC3023;
    border: 1px solid #DC3023;
    &:hover,&:focus{     
        color: #fff;
        background-color: #F34F43;
    }
}
// ::v-deep .el-input__inner {
//     height: 48px !important;
//     border: 1px solid #DDD !important;
//     color: #666 !important;
// }