@import "@/assets/scss/variables.scss";

.login-wrap {
  .login-c{
    width:240px;
    padding-top: 40px;
    margin: 0 auto;
    input{
      margin: 10px 0;
    }
    button{
      width:240px;
    }
  }
}
